.searchBoxWrapp {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid black;
  border-radius: 4px;
  width: 350px;
  padding: 16px;
}

.inputField {
  width: 315px;
  padding: 8px;
  border: 2px solid grey;
  border-radius: 4px;
}
